.edit-profile-container {    
    // background-color: blue;
    position: fixed;
    top: 10%;
    height: 90%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;


    .cindy {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 0 20px 20px 20px;
        
    }

    .profile-image-container {
        display: flex;
        // flex-direction: column-reverse;
        justify-content: center;
        // align-content: space-between;
        align-items: center;
        // background-color: green;
        height: 75%;
        width: 70%;
        // flex-flow: row wrap;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
       font-size: 32px; 
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
    }

    .avatar {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 20px;
        z-index: -1;
    }

}