
.header-container {
    background-color: #0e0b14;
    // background-color: orange;
    color: white;
    text-align: center;
    position: fixed;
    // height: 50px;
    width: 98.8%;
    top: 0;
    // left: 2%;
    display: flex;
    justify-content: space-between;
    

    .logo {
        height: 75px;
        width: 150px;
    }

    .edit-profile-button {
        display: flex;
        position: fixed;
        height: 50px;
        width: 50px;
        top: 1.5%;
        right: 2%;
        border-radius: 50%;
    }
    .session-end {
        display: flex;
        position: fixed;
        top: 4%;
        right: 7%;
    }

    .button-container {
        // background-color: #40424A;
        position: fixed;
        width: 55%;
        left: 12%;
        top: 4%;
        display: flex;
        justify-content: space-between;

        // #home-logo-button {
        //     background-color: green;
        // }

        span {
            // background-color: purple;
            text-transform: uppercase;
            letter-spacing: 1.5px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    
}
.footer-container {
    background-color: black;
    // padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    // bottom: 0;
    width: 98.8%;
    height: 7%;
    // position: fixed;
    font-size: 12px;
    color: #CACACA;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    display: block;

    ul {
        // margin-top: 10px;
    }

    li {
        display: inline-flex;
        // justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }

    .copyright {
        margin: auto;
    }
}
