.app-container {
    background-color: rgb(26, 29, 41);
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    height: 120vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
}


