.header-edit-container {
    display: flex;
    justify-content: space-between;
    // background-color: purple;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;

    .logo {
        height: 75px;
        width: 150px;
    }
}

.select-profile-link {
    border-radius: 0.25rem;
    color: #F9F9F9;
    background-color: #40424A;
    padding: 15px 25px 15px 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
    
}