.header-container {
    background-color: rgb(26, 29, 41);;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    height: 90%;
    width: 100%;
    padding-top: 65px;
    font-family: Arial, Helvetica, sans-serif;
    
    header {
        font-size: 30px;
    }
}