.header-container {
        background-color: #0e0b14;
        color: white;
        text-align: center;
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
            height: 75px;
            width: 150px;
        }
    
        .edit-profile-button {
            display: flex;
            position: fixed;
            height: 50px;
            width: 50px;
            top: 12.5px;
            // right: 2%;
            right: 12.5px;
            border-radius: 50%;
        }
        
        .session-end {
            display: flex;
            position: fixed;
            top: 30px;
            right: 75px;
        }
    
        .button-container {
            display: flex;
            position: fixed;
            background-color: purple;
            width: 55%;
            left: 175px;
    
            span {
                text-transform: uppercase;
                letter-spacing: 1.5px;
                margin-right: 50px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }  
    }