.search-form-container {
    margin-top: 72px;
    background-color: rgb(75, 78, 90);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    color: rgb(168, 169, 173);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.search-input {
    font-size: 50px;
    letter-spacing: 1px;
    width: 100%;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.search-result-container {
    height: 73vh;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, 275px);
    column-gap: 2rem;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    margin: 0 5% 0 5%;
    margin-top: 95px;
    // background-color: blue;

    .video-container {
        // background-color: red;
        width: 275px;
        height: 155px;
        .video-card {
            box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.69);
            .video-thumbnail {
                width: 275px;
                height: 155px;
                margin: auto;
                object-fit: fill;
                border-radius: 0.2rem;
                // background-color: purple;
                border: 2px solid transparent;
            }

            .video-thumbnail:hover {
                cursor: pointer;
                border: 2px solid lightgray;
            }
        }
    }
}

.search-result-container > h1 {
    font-size: 32px;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
