.splash-container {
    background-image: image-url('splash');
    background-color: blue;
    height: 90%;

    .splash-signup-form-link {
        background-color: #0070D2;
        border-radius: 0.25rem;   
        margin: 330px 10px 40px 10px;
        height: 50px;
        width: 570px;
        font-size: 20px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
    }

    .demo-login-button {
        text-decoration: underline;
    }

    p {
        margin-left: auto;
        margin-right: auto;
    }
}
